<div class="pageContainer">
    <div class="center">
        <div class="mainContent" *ngIf="!loading">
            <div class="recordings">
                <div class="titleBox">
                    <h1>
                        Here's your Recordings
                    </h1>
                </div>
                <div class="contentBox">
                    <p *ngIf="recordings.length == 0">You don't have any recordings</p>
                    <div class="recordingElement" *ngFor="let recording of recordings" [routerLink]="['/home', recording.id]">
                        <p class="title">{{recording.name}}</p>
                        <p class="date">{{recording.date | date}}</p>
                        <p class="description">{{recording.description}}</p>
                    </div>
                </div>
            </div>
            <div class="sideColumn">
                <div class="uploadRecording">
                    <div class="titleBox">
                        <h1>
                            Upload a Recording
                        </h1>
                    </div>
                    <div class="contentBox">
                        <form>
                            <button class="standardButton">
                                Choose file
                            </button>
                            <p class="text">Chosen file: None</p>
                            <input type="text" class="inputField" placeholder="Title">
                            <input type="text" class="inputField" placeholder="Description">
                        </form>
                        <button class="standardButton">
                            Upload
                        </button>
                    </div>
                </div>
                <div class="admin" *ngIf="authService.superDev">
                    <div class="titleBox">
                        <h2>
                            Administrate group
                        </h2>
                    </div>
                    <div class="contentBox">
                        <p>Add/remove benefit user</p>
                        <input type="text" class="inputField" placeholder="Email">
                        <div class="addRemove">
                            <button id="remove">Remove</button>
                            <button>Add</button>
                        </div>
                        <button class="standardButton">View all users in group</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>