.pageContainer {
    position: relative;
    top: 120px;

    .center {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        min-width: 1100px;

        .mainContent {
            position: relative;
            left: 50%;
            transform: translate(-50%);
            display: flex;

            .titleBox {
                width: 100%;
                background-color: #FAB228;
                box-shadow: 0px 2px 5px #00000024;
                border-radius: 25px;
                padding: 25px;
    
                h1 {
                    margin: 0;
                    font-size: 2.5em;
                }
            }

            .contentBox {
                padding: 0 25px 25px 25px;
                
                p {
                    text-align: center;
                }
            }

            .recordings {
                flex: 1.5;
                background-color: #F8F8F8;
                border-radius: 25px;
                box-shadow: 0px 2px 5px #00000024;
                box-sizing: border-box;
                height: 100%;
                margin-bottom: 50px;

                .recordingElement {
                    background-color: #F8F8F8;
                    border-radius: 25px;
                    box-shadow: 0px 2px 5px #00000024;
                    width: 100%;
                    margin-top: 25px;
                    padding: 25px;
                    cursor: pointer;

                    .title {
                        font-size: 1.3em;
                        text-align: left;
                        margin: 0;
                    }

                    .date {
                        text-align: left;
                        margin: 10px 0 8px 0;
                    }

                    .description {
                        text-align: left;
                        margin: 0;
                        font-weight: 400;
                        text-shadow: 0px 1px 0.5px #00000024;
                    }
                }

                .recordingElement:hover {
                    background-color: #efefef;
                }
            }

            .sideColumn {
                position: sticky;
                top: 120px;
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-left: 25px;

                .uploadRecording {
                    background-color: #F8F8F8;
                    border-radius: 25px;
                    box-shadow: 0px 2px 5px #00000024;
                    box-sizing: border-box;
                    max-height: 550px;
                }
    
                .misc {
                    background-color: #F8F8F8;
                    border-radius: 25px;
                    box-shadow: 0px 2px 5px #00000024;
                    box-sizing: border-box;
                    margin-top: 25px;
                    height: 300px;
                }
            }
        }
    }
}

.standardButton {
    margin: 25px 0 5px 0;
    width: 80%;
}

@media screen and (max-width: 1200px) {
    .pageContainer {
        .center {
            min-width: 75%;

            .mainContent {
                display: block;
        
                .recordings {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                }
        
                .sideColumn {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                    margin-left: 0;
                }
            }
        }
    }
}