<div class="pageContainer">
    <div class="center">
        <h1 *ngIf="loading == true">
            Loading...
        </h1>
        <div class="mainContent" *ngIf="loading == false">
            <div class="recordings">
                <div class="titleBox">
                    <h1>
                        Here's your Recordings
                    </h1>
                </div>
                <div class="contentBox">
                    <p *ngIf="recordings.length == 0">You don't have any recordings</p>
                    <div class="recordingElement" *ngFor="let recording of recordings" [routerLink]="['/home', recording.id]">
                        <p class="title">{{recording.name}}</p>
                        <p class="date">{{recording.date | date}}</p>
                        <p class="description">{{recording.description}}</p>
                    </div>
                </div>
            </div>
            <div class="sideColumn">
                <div class="uploadRecording">
                    <div class="titleBox">
                        <h1>
                            Upload a Recording
                        </h1>
                    </div>
                    <div class="contentBox">
                        <form>
                            <button class="standardButton">
                                Choose file
                            </button>
                            <p class="text">Chosen file: None</p>
                            <input type="text" class="inputField" placeholder="Title">
                            <input type="text" class="inputField" placeholder="Description">
                            
                        </form>
                        <button class="standardButton">
                            Upload
                        </button>
                    </div>
                </div>
                <!--<div class="misc">
                    <div class="titleBox">
                        <h1>
                            Misc.
                        </h1>
                    </div>
                    <div class="contentBox" style="padding-top: 25px;">
                        Misc stuff, coming soon.
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>