@use "../../../variables" as v;

.contentBox {
    padding: 25px;

    p {
        text-align: center;
    }
    
    .inputField {
        margin-top: 10px;
    }

    .addRemove {
        position: relative;
        display: flex;
        flex-direction: row;
        left: 50%;
        transform: translate(-50%);
        width: 80%;

        .standardButton {
            left: 0;
            transform: translateX(0);
        }

        #remove {
            background-color: v.$red;
            margin-right: 5px;
            margin-left: 0;
        }

        #remove:hover {
            background-color: v.$redHover;
        }
    }

    select {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 15px;
    }

    .groupElement {
        background-color: v.$white;
        border-radius: v.$radius;
        box-shadow: 0px 2px 5px v.$shadow;
        width: 100%;
        margin-top: 15px;
        padding: 15px 25px 15px 25px;

        i {
            float: right;
            cursor: pointer;
        }
    }

    mat-spinner {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 15px;
    }
}

.errorMessage {
    position: relative;
    display: block;
    margin-top: 10px;
    color: v.$red;
    text-align: center;
}

.successMessage {
    position: relative;
    display: block;
    margin-top: 10px;
    color: v.$green;
    text-align: center;
}

.standardButton {
    margin: 25px 0 5px 0;
    width: 80%;
}