//Standard colors
$orange: #FAB228;
$orangeHover: #fdae1b;

$background: rgba(240, 240, 240, 0.9);

$white: rgba(255, 255, 255, 0.9);
$whiteHover: rgba(248, 248, 248, 0.9);

$green: #A5C644;
$greenHover: #9ACD3A;

$disabled: #D8D8D8;
$divider: #0000005b;
$red: #FD594D;
$redHover: #FF675C;

$shadow: rgba(110, 110, 110, 0.25);

//Text colors
$textDynamic: #505050;

//Other variables
$radius: 20px;