//Standard colors
$orange: #FAB228;
$orangeHover: #fdae1b;

$white: rgba(255, 255, 255, 0.95);

$disabled: #D8D8D8;

$shadow: rgba(118, 118, 118, 0.15);

//Text colors
$textDynamic: #505050;

//Other variables
$radius: 20px;