//Standard colors
$orange: #FF966C;
$orangeHover: #E56A3E;

$background: rgba(240, 240, 240, 1);

$white: rgba(255, 255, 255, 0.9);
$whiteHover: rgba(246, 246, 246, 0.9);
$whiteOpaque: rgba(255, 255, 255, 1);
$whiteOpaqueHover: rgba(246, 246, 246, 1);

$green: #B4E599;
$greenHover: #A6D082;

$disabled: #D8D8D8;
$divider: #0000005b;
$red: #FD594D;
$redHover: #FF675C;

$shadow: rgba(110, 110, 110, 0.25);

//Text colors
$text: #262626;
$textDynamic: #262626;

//Other variables
$radius: 20px;