
.header {
    background-color: #FAB228;
    height: 70px;
    box-shadow: 0px 2px 5px #00000024;

    .icon {
        height: 40px;
        border-radius: 10px;
        margin: 15px 10px 15px 30px;
        display: inline-block;
    }

    .logo {
        position: absolute;
        left: calc(50% - 75px);
        margin: 20px auto 20px auto;
        width: 150px;
    }
}