.header {
    background-color: #FAB228;
    height: 70px;
    box-shadow: 0px 2px 5px #00000024;
    width: 100%;
    position: fixed;
    z-index: 10;

    .icon {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 40px;
        border-radius: 10px;
        display: inline-block;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 30px;
    }

    .profile {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(50%, -50%);
        cursor: pointer;
        display: inline-block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        box-shadow: 0px 2px 5px #00000024;
    }
}