@use "variables" as v;

.header {
    background-color: v.$white;
    height: 50px;
    box-shadow: 0px 2px 5px v.$shadow;
    width: 100%;
    position: fixed;
    z-index: 10;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        height: 25px;
    }

    .profile {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(50%, -50%);
        cursor: pointer;
        display: inline-block;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        box-shadow: 0px 2px 5px #00000024;
    }
}