.loginForm {
    width: 100%;
    padding: 25px 25px 50px 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .forgotText {
        position: relative;
        left: calc(10% + 25px);
        top: 10px;
        text-decoration: underline;
        cursor: pointer;
    }

    .errorMessage {
        position: relative;
        left: 50%;
        margin-top: 10px;
        transform: translate(-50%);
        color: #FD594D;
        text-align: center;
    }

    .otherMessage {
        position: relative;
        left: 50%;
        margin-top: 10px;
        transform: translate(-50%);
        text-align: center;
    }

    .resend {
        margin-top: 10px;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;
    }

    .buttonRow {
        width: 80%;
        margin-top: 35px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: flex;

        .standardButton {
            margin-top: 0;
            width: 100%;
            left: 0;
            transform: translate(0);
        }

        #left {
            flex: 0.7;
            margin-right: 5px;
            background-color: transparent;
            box-shadow: none;
        }

        #right {
            flex: 1;
            margin-left: 5px;
        }
    }
}

.standardButton {
    margin-top: 35px;
    width: 80%;
}