.loginForm {
    width: 100%;
    padding: 25px 25px 50px 25px;
    position: relative;

    .inputField:focus {
        outline: none;
        background-color: #cacaca;
    }

    .forgotText {
        position: relative;
        left: calc(10% + 25px);
        top: 10px;
        text-decoration: underline;
        cursor: pointer;
    }

    .errorMessage {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        color: #FF0000;
        text-align: center;
    }
}