<div class="pageContainer">
    <div class="center">
        <div class="loginBox">
            <div class="titleBox">
                <h1>
                    Welcome to<br>Mellonn Speak
                </h1>
            </div>
            <app-email-login *ngIf="!createUser"></app-email-login>
            <app-create-user *ngIf="createUser"></app-create-user>
        </div>
        <div class="createAccount" (click)="createUser = true" *ngIf="!createUser && !forgotPassword">
            <p>Are you new here?.. </p><a style="text-decoration: underline;">Create an account!</a>
        </div>
    </div>
</div>