/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #505050;
    text-shadow: 0px 2px 1px #00000024;
    user-select: none;
}

div {
    box-sizing: border-box;
}

input, button {
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    color: #505050;
}