.content {
    display: flex;
    flex-direction: row;
                
    .left {
        flex: 1;
    }

    .right {
        flex: 1;
    }

    .segment {
        position: relative;
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        background-color: #F8F8F8;
        border-radius: 25px;
        box-shadow: 0px 2px 5px #00000024;
        padding: 25px;
    }

    .orderBox {
        position: relative;
        width: 80%;
        left: 50%;
        transform: translate(-50%);
        background-color: #F8F8F8;
        border-radius: 25px;
        box-shadow: 0px 2px 5px #00000024;
        padding: 25px;

        .orderLine{
            width: 100%;
        }

        .leftText {
            text-align: left;
            display: inline-block;
            margin: 8px 0;
        }

        .rightText {
            position: fixed;
            right: 25px;
            text-align: right;
            display: inline-block;
            margin: 8px 0;
        }
    }

    .inputField {
        width: 100%;
    }

    .inputField:first-child {
        margin-top: 0;
        margin-bottom: 0;
    }

    h4 {
        margin: 25px 0 10px 0;
    }

    h4:first-child {
        margin: 0;
    }

    select {
        position: relative;
        left: 49%;
        padding-left: 1%;
        transform: translate(-50%);
    }

    #paymentForm {
        .titleP {
            font-size: 1.0em;
        }

        .cardInfo {
            text-align: center;
        }

        .cardBox {
            margin-top: 10px;
            width: 100%;
            text-align: center;
            align-items: center;
        }

        .cardsBox {
            margin-top: 10px;

            .div {
                margin: 15px 0;
                cursor: pointer;
            }

            input {
                position: relative;
                top: 2px;
                margin-left: 15px;
            }
        }

        .cardIcon {
            position: relative;
            top: 1px;
            margin-right: 15px;
        }

        .expireText {
            font-weight: 400;
            font-size: 0.8em;
        }

        select {
            margin-top: 15px;
        }

        .otherMethodText {
            display: block;
            text-decoration: underline;
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
        }

        #cardElement {
            width: 80%;
            margin: 0 auto;
            margin-top: 25px;
        }

        p {
            margin-top: 10px;
            display: inline;
        }
    }

    .paymentSpinner {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 15px;
        color: #FAB228;
    }

    .errorMessage {
        position: relative;
        display: block;
        margin-top: 10px;
        color: #FD594D;
        text-align: center;
    }

    .zipInput {
        margin-top: 5px;
        text-transform: uppercase;
    }

    .tax {
        margin-top: 5px;
        font-size: 0.65em;
        opacity: 75%;
    }
}

.uploadProgress {
    width: 100%;
    height: 500px;

    .spinnerBox {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;

        mat-progress-spinner {
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }

        p {
            text-align: center;
            margin-top: 15px;
        }
    }
}

.standardButton {
    max-width: 350px;
    margin-top: 25px;
}

h3 {
    margin: 0;
    font-size: 1.1em;
}