<div class="createForm">
    <form [formGroup]="formP1" (ngSubmit)="onSubmit()" *ngIf="!verificationSent">
        <input formControlName="email" type="email" class="inputField" placeholder="Email">
        <input formControlName="password" type="password" class="inputField" placeholder="Password">
        <input formControlName="passwordConfirm" type="password" class="inputField" placeholder="Confirm password">
        <div class="termsBlock">
            <input formControlName="termsAccept" type="checkbox"><a href="https://mellonn.notion.site/Terms-and-Conditions-92e458a5b84849678115777b473259ec" target="_blank">I accept the terms and conditions</a>
        </div>
        
        <form class="promo" [formGroup]="promoForm" (ngSubmit)="redeemPromotion()" *ngIf="!promoRedeemed">
            <p class="title">Do you have a promo code?</p>
            <input formControlName="promoCode" class="inputField" placeholder="Promo code">
            <p class="errorMessage" *ngIf="promoError != ''">{{promoError}}</p>
            <button class="standardButton" type="submit">Check promo code</button>
        </form>
        <div class="discount" *ngIf="promoRedeemed">
            <p>Your discount: </p>
            <p>{{discountMessage}}</p>
        </div>

        <div class="buttonRow">
            <button id="left" class="standardButton" type="button" (click)="setCreate(false)">
                Cancel
            </button>
            <button id="right" class="standardButton" type="submit" [disabled]="!verificationSent && formP1.invalid || !passwordDoesMatch || loading">
                {{buttonText}}
            </button>
        </div>
    </form>

    <form [formGroup]="formP2" (ngSubmit)="onSubmit()" *ngIf="verificationSent">
        <p class="otherMessage">Check your email!</p>
        <input formControlName="name" type="text" class="inputField" placeholder="First name">
        <input formControlName="lastName" type="text" class="inputField" placeholder="Last name">
        <input formControlName="verificationCode" type="text" class="inputField" placeholder="Verification code">
        <p class="resend" (click)="resendCode()">Haven't received a code? Send it again!</p>

        <button class="standardButton" type="submit" [disabled]="verificationSent && formP2.invalid || loading">
            {{buttonText}}
        </button>
    </form>

    <p class="errorMessage" *ngIf="serverMessage != null">{{serverMessage}}</p>
</div>
