<div class="pageContainer">
    <div class="center">
        <div class="mainContent">
            <div class="contentBox" *ngIf="!loading">
                <div class="titleBox">
                    <img src="/assets/images/emptyProfile.png" class="profilePic">
                    <h1>Hi {{authService.firstName}} {{authService.lastName}}!</h1>
                </div>
                <div class="content">
                    <div class="left">
                        <div class="segment">
                            <i class="fa-solid fa-envelope fa-lg"></i>
                            <p>{{authService.email}}</p>
                            <hr>
                            <i class="fa-solid fa-user fa-lg"></i>
                            <p>{{profileType}}</p>
                            <hr>
                            <i class="fa-solid fa-coins fa-lg"></i>
                            <p>Free credits: {{authService.freePeriods}}</p>
                        </div>
                        <div id="redeemSegment" class="redeemSegment clickable">
                            <div class="child" (click)="toggleRedeemPromo()">
                                <i class="fa-solid fa-percent fa-lg"></i>
                                <p id="text">Redeem promotional code</p>
                            </div>
                            <div class="promo" *ngIf="redeemPromoActive && !promoRedeemed">
                                <input class="inputField" placeholder="Promo code" [(ngModel)]="promoCode" (keyup.enter)="redeemPromotion()">
                                <p class="errorMessage" *ngIf="errorMessage != ''">{{errorMessage}}</p>
                                <div class="buttonRow">
                                    <button id="left" class="button" (click)="toggleRedeemPromo()">Cancel</button>
                                    <button class="button" (click)="redeemPromotion()">Redeem</button>
                                </div>
                            </div>
                            <div class="discount" *ngIf="promoRedeemed">
                                <p>Your discount: </p>
                                <p>{{discountMessage}}</p>
                                <button class="standardButton" (click)="toggleRedeemPromo()">Ok</button>
                            </div>
                        </div>
                        <div id="divided" class="segment">
                            <div class="dividedSegment clickable">
                                <i class="fa-solid fa-question fa-lg"></i>
                                <p>Help</p>
                            </div>
                            <hr>
                            <div class="dividedSegment clickable">
                                <i class="fa-solid fa-bug"></i>
                                <p>Report issue</p>
                            </div>
                        </div>
                        <div class="segment clickable" (click)="authService.signOut()">
                            <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                            <p>Sign out</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="segment">
                            TODO: Settings sync
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>