<div class="pageContainer">
    <div class="center">
        <div class="mainContent">
            <div class="contentBox" *ngIf="!loading">
                <div class="titleBox">
                  <img src="{{authService.userAvatar}}" class="profilePic">
                    <h1>Hi {{authService.firstName}} {{authService.lastName}}!</h1>
                </div>
                <div class="content">
                    <div class="left">
                        <div class="segment">
                            <i class="fa-solid fa-envelope fa-lg"></i>
                            <p>{{authService.email}}</p>
                            <hr>
                            <i class="fa-solid fa-user fa-lg"></i>
                            <p>{{userGroup}}</p>
                            <div *ngIf="authService.referGroup != null">
                                <hr>
                                <i class="fa-solid fa-users fa-lg"></i>
                                <p>{{authService.referGroup}}</p>
                            </div>
                            <hr>
                            <i class="fa-solid fa-coins fa-lg"></i>
                            <p>Free credits: {{authService.freePeriods}}</p>
                        </div>
                        <div id="redeemSegment" class="redeemSegment clickable">
                            <div class="child" (click)="toggleRedeemPromo()">
                                <i class="fa-solid fa-percent fa-lg"></i>
                                <p id="text">Redeem promotional code</p>
                            </div>
                            <div class="promo" *ngIf="redeemPromoActive && !promoRedeemed">
                                <input class="inputField" placeholder="Promo code" [(ngModel)]="promoCode" (keyup.enter)="redeemPromotion()">
                                <p class="errorMessage" *ngIf="promoError != ''">{{promoError}}</p>
                                <div class="buttonRow">
                                    <button class="standardButton" id="left" (click)="toggleRedeemPromo()">Cancel</button>
                                    <button class="standardButton" (click)="redeemPromotion()">Redeem</button>
                                </div>
                            </div>
                            <div class="discount" *ngIf="promoRedeemed">
                                <p>Your discount: </p>
                                <p>{{discountMessage}}</p>
                                <button class="standardButton" (click)="toggleRedeemPromo()">Ok</button>
                            </div>
                        </div>
                        <div id="divided" class="segment">
                            <div class="dividedSegment clickable" (click)="goToLink('https://www.mellonn.com/speak-help')">
                                <i class="fa-solid fa-question fa-lg"></i>
                                <p>Help</p>
                            </div>
                            <hr>
                            <div id="feedbackSegment" class="dividedSegment clickable">
                                <div style="cursor: pointer;" (click)="toggleFeedback()">
                                    <i class="fa-solid fa-bug"></i>
                                    <p>Report issue/send feedback</p>
                                </div>
                                <div class="messageDiv" *ngIf="feedbackActive">
                                    <div *ngIf="!sendingFeedback">
                                        <textarea [(ngModel)]="feedbackMessage"></textarea>
                                        <input type="checkbox" [(ngModel)]="accepted"><a>Mellonn can email me with questions</a>
                                        <button class="standardButton" (click)="sendFeedback()" *ngIf="!sendingFeedback">Send report/feedback</button>
                                        <p class="errorMessage" *ngIf="feedbackError != ''">{{feedbackError}}</p>
                                    </div>
                                    <mat-spinner *ngIf="sendingFeedback && !feedbackSent" [color]="'accent'" [diameter]="50" [strokeWidth]="5"></mat-spinner>
                                    <div *ngIf="feedbackSent">
                                        <p class="success">Your report/feedback have been sent!</p>
                                        <button class="standardButton" (click)="toggleFeedback()">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="segment clickable" (click)="authService.signOut()">
                            <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                            <p>Sign out</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="segment">
                            <div style="display: block;">
                                <i class="fa-solid fa-language fa-lg"></i>
                                <p>Select default language:</p>
                            </div>
                            <select name="language" id="language" (change)="onLanguageSelect()" [(ngModel)]="languageSelect">
                                <option *ngFor="let code of languageService.languageCodeList" value="{{code}}" [selected]="settings.languageCode == code">{{languageService.getLanguage(code)}}</option>
                            </select>
                        </div>
                        <div class="segment">
                            <div style="display: block;">
                                <i class="fa-solid fa-stopwatch fa-lg"></i>
                                <p>Time to jump (s):</p>
                            </div>
                            <select name="jump" id="jump" (change)="onJumpSelect()" [(ngModel)]="jumpSelect">
                                <option *ngFor="let i of jumpValues" value="{{i}}" [selected]="settings.jumpSeconds == i">{{i}}</option>
                            </select>
                        </div>
                        <!-- <div class="segment">
                            <div style="display: block;">
                                <i class="fa-solid fa-credit-card fa-lg"></i>
                                <p>Payment methods</p>
                            </div>
                            <hr class="cardHR">
                            <div *ngIf="!addCardActive">
                                <mat-spinner style="margin-top: 15px;" [color]="'accent'" [diameter]="50" [strokeWidth]="5" *ngIf="paymentLoading"></mat-spinner>
                                <div *ngFor="let method of paymentMethods">
                                    <input type="radio" name="card" value="{{method.id}}" [(ngModel)]="cardSelect" (ngModelChange)="onCardSelect()">
                                    <div style="display: inline; cursor: pointer;" (click)="onCardSelect(method.id)">
                                        <i class="{{getCardIcon(method.card.brand)}} cardIcon" id="defaultCardIcon"></i><a>•••• {{method.card.last4}} </a>
                                        <a class="expireText">Expires {{monthNames[method.card.exp_month - 1]}} {{method.card.exp_year}}</a>
                                    </div>
                                    <i class="fa-solid fa-trash-can trashIcon" (click)="removeCard(method.id)"></i>
                                </div>
                            </div>
                            <div>
                                <button class="standardButton" style="margin-top: 15px;" *ngIf="!addCardActive" (click)="activateAddCard()">Add a card</button>
                                <form id="addCardForm" *ngIf="addCardActive">
                                    <mat-spinner [color]="'accent'" [diameter]="50" [strokeWidth]="5" *ngIf="addCardLoading"></mat-spinner>
                                    <div class="card">
                                        <div id="cardElement"></div>
                                    </div>
                                    <button class="standardButton" style="margin-top: 0;" type="submit">Add card</button>
                                </form>
                            </div>
                        </div> -->
                        <div class="segment clickable" (click)="resetSettings()">
                            <i class="fa-solid fa-undo fa-lg"></i>
                            <p>Reset settings to default</p>
                        </div>
                        <div class="segment clickable" (click)="deleteAccount()">
                            <i class="fa-solid fa-trash fa-lg"></i>
                            <p>Delete my account and data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
