@use "../../variables" as v;

.center {
    max-width: 850px;
}

.profilePic {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: v.$white;
    box-shadow: 0px 2px 5px v.$shadow;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    font-size: 1.7em;
}

.contentBox {
    background-color: v.$white;
    border-radius: v.$radius;
    box-shadow: 0px 2px 20px v.$shadow;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 50px;

    .content {
        padding: 25px;
        display: flex;
        flex-direction: row;
        
        .left {
            flex: 1;
            margin-right: 12.5px;
        }

        .right {
            flex: 1;
            margin-left: 12.5px;
        }

        .segment {
            position: relative;
            margin-bottom: 25px;
            left: 50%;
            transform: translate(-50%);
            background-color: v.$white;
            border-radius: v.$radius;
            box-shadow: 0px 2px 5px v.$shadow;
            padding: 25px;

            p {
                display: inline;
                position: fixed;
                left: 60px;
            }

            i {
                display: inline;
            }

            hr {
                margin: 15px 5px;
                border-top: 1px solid v.$divider;
                border-radius: 0.5px;
            }

            select {
                position: relative;
                left: 50%;
                transform: translate(-50%);
                margin-top: 10px;
            }

            .card {
                margin-top: 15px;
                height: 50px;
            }

            input {
                position: relative;
                top: 2px;
                margin: 15px 15px 15px 0;
            }

            mat-spinner {
                position: relative;
                left: 50%;
                transform: translate(-50%);
                color: v.$orange;
            }

            .cardHR {
                margin-bottom: 0;
            }

            .expireText {
                font-weight: 400;
                font-size: 0.75em;
            }

            .cardIcon {
                position: relative;
                top: 1px;
                margin-right: 15px;
            }

            .trashIcon {
                float: right;
                margin-top: 15px;
                margin-right: 15px;
                cursor: pointer;
            }
        }

        .redeemSegment {
            position: relative;
            margin-bottom: 25px;
            left: 50%;
            transform: translate(-50%);
            background-color: v.$white;
            border-radius: v.$radius;
            box-shadow: 0px 2px 5px v.$shadow;

            .child {
                padding: 25px;
                cursor: pointer;
            }

            #text {
                display: inline;
                position: fixed;
                left: 60px;
            }

            i {
                display: inline;
            }
        }

        #feedbackSegment {
            .messageDiv {
                display: block;

                textarea {
                    display: block;
                    width: 100%;
                    height: 50px;
                    margin-top: 15px;
                }
            }

            .success {
                position: relative;
                display: block;
                left: 0;
                margin: 25px 0 15px 0;
                text-align: center;
            }
        }

        .segment:last-child {
            margin-bottom: 0;
        }

        .dividedSegment {
            padding: 20px 25px;
            border-radius: v.$radius;
        }

        #divided {
            padding: 0;

            hr {
                margin: 0px 30px;
            }
        }

        .clickable {
            cursor: pointer;
        }

        .clickable:hover {
            background-color: v.$whiteHover;
        }
    }
}

.promo {
    padding: 0 25px 25px 25px;

    .inputField {
        width: 100%;
        margin-top: 10px;
    }

    .buttonRow {
        position: relative;
        display: flex;
        flex-direction: row;
        left: 50%;
        margin-top: 15px;
        transform: translate(-50%);

        button {
            left: 0;
            transform: translateX(0);
            flex: 1;
        }

        #left {
            flex: 0.8;
            background-color: transparent;
            margin-right: 5px;
            margin-left: 0;
            box-shadow: none;
        }
    }
}

.discount {
    padding: 0 25px 25px 25px;

    .standardButton {
        margin-top: 10px;
    }
}

.errorMessage {
    position: relative;
    display: block;
    margin-top: 10px;
    color: v.$red;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .pageContainer {
        .center {
            min-width: 90%;
            max-width: none;

            .content {
                display: block;

                .left {
                    margin-right: 0;
                }
                
                .right {
                    margin: 25px 0 0 0;
                }

                .redeemSegment {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .expireText {
        display: none;
    }

    select {
        margin-top: 50px;
    }
}